@model System.Data.DataTable
@using System.Data

<h2>Liste des praticiens avec leurs spécialités</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom complet</th>
            <th>Ville</th>
            <th>Spécialité</th>
            <th>Gérer les spécialités</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["nom_complet"]</td>
                <td>@row["ville_praticien"]</td>
                <td>@row["specialites"]</td>
                <td>
                    <a asp-action="AjouterSpecialite"
                       asp-route-idPraticien="@row["id_praticien"]"
                       class="btn btn-success">Ajouter</a>

                    <a asp-action="SelectionnerSpecialitePourModification"
                       asp-route-idPraticien="@row["id_praticien"]"
                       class="btn btn-warning">Modifier</a>



                    <a asp-action="SelectionnerSpecialitePourSuppression"
                       asp-route-idPraticien="@row["id_praticien"]"
                       class="btn btn-danger">Supprimer</a>


                </td>
            </tr>
        }
    </tbody>
</table>
